variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE
    IMAGE_TAG: $CI_PIPELINE_IID
    MS_NAME: rumi-restaurant-backend
    MS_VERSION: $CI_PIPELINE_IID

stages:
- test
- build
- deploy_pipeline

# gitleaks is detecting hardcoded secrets in app source code

gitleaks:
  stage: test
  image:
    name: zricethezav/gitleaks
    entrypoint: [""]
  script:
    - gitleaks detect --verbose --source .


# Static Application Security Test (SAST)
# In this job, GitLab's template job is used

sast:
  stage: test

include:
  - template: Jobs/SAST.gitlab-ci.yml
  

# Docker Image building 

build_image:
    stage: build
    image: docker:24
    services:
    - docker:24-dind
    before_script:
        - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    script:
        - docker build -t $IMAGE_NAME:$IMAGE_TAG .
        - docker push $IMAGE_NAME:$IMAGE_TAG

# Docker Image Scanning for security vulnerabilities and misconfigurations
# Trivy tool is used

trivy:
  stage: build
  needs: ["build_image"]
  image: docker:24
  services:
    - docker:24-dind
  before_script:
    - apk add --no-cache curl
    - curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $IMAGE_NAME:$IMAGE_TAG
    - trivy image -f json -o trivy.json --severity HIGH,CRITICAL --exit-code 1 $IMAGE_NAME:$IMAGE_TAG
  allow_failure: true
  artifacts:
    when: always
    paths:
      - trivy.json

trigger_deploy_pipeline:
  stage: deploy_pipeline
  variables:
    MS_NAME: "rumi-restaurant-backend"
    MS_VERSION: "$CI_PIPELINE_IID"
  trigger:
    project: restaurant-app3282120/rumi-argocd-gitops
    branch: main
    strategy: depend



